{% extends 'store/base.html' %}
{% block body_block %}
<div class="container ">
  <div class=" mt-4 ">
  <h1 class="text-center">Contact Us</h1>

  </div>
</div>


<section id="contact" class="contact">
  <div class="container" data-aos="fade-up">

    

    <div class="row mt-1">

      <div class="col-lg-4">
        <div class="info">
          <div class="address">
            <i class="icofont-google-map"></i>
            <h4>Location:</h4>
            <p>341/27A Naubasta, Lucknow, Uttar Pradesh, India</p>
          </div>

          <div class="email">
            <i class="icofont-envelope"></i>
            <h4>Email:</h4>
            <p>rastogisatyam2000@gmail.com</p>
          </div>

          <div class="phone">
            <i class="icofont-phone"></i>
            <h4>Call:</h4>
            <p>+91-7017183754</p>
          </div>

        </div>

      </div>

      <div class="col-lg-8 mt-5 mt-lg-0">

        <form action="/" method="POST" role="form">
         {% csrf_token %}
          <div class="form-row">
            <div class="col-md-6 form-group">
              <input type="text" name="name" class="form-control" id="name" placeholder="Your Name" data-rule="minlen:4" data-msg="Please enter at least 4 chars" />
              
            </div>
            <div class="col-md-6 form-group">
              <input type="email" class="form-control" name="email" id="email" placeholder="Your Email" data-rule="email" data-msg="Please enter a valid email" />
              
            </div>
          </div>
          <div class="form-group">
            <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject" data-rule="minlen:4" data-msg="Please enter at least 8 chars of subject" />
            
          </div>
          <div class="form-group">
            <textarea class="form-control" name="message" rows="5" data-rule="required" data-msg="Please write something for us" placeholder="Message"></textarea>
            
          </div>
         <div class="text-center">
          <a class="nav-link mx-4 text-light" href="{% url 'store:login' %}"><button type="submit" class="btn btn-primary btn-lg">Send Message</button><span class="sr-only">(current)</span></a>
          
         </div>
          
        </form>

      </div>

    </div>

  </div>
</section>




{% endblock %}